@font-face
  font-family 'Proxima Nova'
  font-weight normal
  src url('./fonts/proxima-nova/reg.otf') format('opentype')

@font-face
  font-family 'Proxima Nova'
  font-weight bold
  src url('./fonts/proxima-nova/bold.otf') format('opentype')

@font-face
  font-family 'Proxima Nova'
  font-weight lighter
  src url('./fonts/proxima-nova/light.otf') format('opentype')

body
  background-color #f1fcad
  font-family 'Proxima Nova'
